<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update user</h1>
    <form action="/update/<%= user._id %>" method="POST">
        <input type="text" placeholder="Enter Name" name="name" value"<%= user.name %>">
        <input type="text" placeholder="Enter Email" name="email" value"<%= user.email %>">
        <input type="text" placeholder="Enter Image Link" name="link" value"<%= user.link %>">
        <input type="submit" value="Update User">
    </form>
</body>
</html>