<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div>
        <nav>
            <a href="/read"> back to read user</a>
        </nav>
        <form action="/create" method="POST">
            <h1>Create user</h1>
            <input type="text" name="name" placeholder="Enter name">
            <input type="text" name="email" placeholder="Enter email">
            <input type="text" name="link" placeholder="Paste image link">
            <input type="submit" value="Create User">

        </form>
    </div>
</body>
</html>